body{
    background-color: rgb(212, 120, 7);
    text-align: justify;
}

#content{
width: 650px;
border: 5px solid darkgrey;
margin: auto;
padding: 20px;
border-radius: 17px;
background-color: orangered;
}

p{
    color: blanchedalmond;
    font-style: italic;
}

h1{
    color: blanchedalmond;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    /* width: 650px; */
    max-width: 100%;
}